*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Outfit;
}

body{
    background-color: #D5E1EF;
}

#card{
    display: flex;
    flex-direction: column;
    padding: 15px;
    max-width: 320px;
    min-height: 497px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    gap: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
}

#qr-image{
    border-radius: 15px;
}

p{
    font-size: 15px;
    color: #7D889E;
    width: 90%;
    align-self: center;
}

h3{
    font-size: 22px;
    color: #1F314F;
}

.attribution{
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
}

@media only screen and (max-width: 400px){
    #card{
        width: 90%;
    }
}
